<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal">
      <h2>Sleep</h2>
      <moo-sleep sleep-obj="sleep" tags="tags"></moo-sleep>

      <hr>
      <div class="form-group">
        <label class="col-sm-2 control-label">Mood</label>
        <rating ng-model="miscRatings.mood.rating">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Alertness</label>
        <rating ng-model="miscRatings.alertness.rating">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Productivity</label>
        <rating ng-model="miscRatings.productivity.rating">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Diet</label>
        <rating ng-model="miscRatings.diet.rating">
      </div>

      <button class="btn btn-default" ng-click="submitDay()">Submit</button>
    </form>
  </div>
</div>