<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" ng-submit="submitDay()">
      <h2>Sleep</h2>
      <moo-sleep sleep-obj="sleep" tags="tags"></moo-sleep>

      <hr>
      <div class="form-group">
        <label class="col-sm-2 control-label">Mood</label>
        <rating ng-model="miscRatings.mood">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Alertness</label>
        <rating ng-model="miscRatings.alertness">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Productivity</label>
        <rating ng-model="miscRatings.productivity">
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Diet</label>
        <rating ng-model="miscRatings.diet">
      </div>

      <button class="btn btn-default">Submit</button>
    </form>
  </div>
</div>